<div #form style="margin-left: 7%">
    <h1>Transfer your funds</h1>
    <form>
        <div class="radio-group">
            <input type="radio" id="option-one" name="selector"><label for="option-one">Adam Smith</label>
            <input type="radio" id="option-two" name="selector"><label for="option-two">Gottfried Leibniz</label>
            <input type="radio" id="option-three" name="selector"><label for="option-three">Albert Einstein</label>
            <input type="radio" id="option-four" name="selector"><label for="option-four">Wernher von Braun</label>
        </div>
          </form>
    <label>Input the amount:</label> 
    <input type="text"><br/>
    <button id="transfer" style="margin-bottom: 7%;">Transfer</button>
</div>