#form {
    padding: 7%;
    margin-left: 7%;
}

button {
    font-family: 'e-ukrainebold';
    color: white;
    background-color:#3077cd;
    border: 3px solid white;
    padding: 3%;
    border-radius: 23px;
    margin-left: 2%;
    margin-top: 3%;
}
input[type=text] {
    color: white;
    background-color: #3077cd;
    border: 2px solid white;
    border-radius: 15px;
    padding-left: 15px;
}
input[type=text]:focus {
    background-color: white;
    color: #676569;
    padding-left: 15px;
}

button:hover{
    color: #676569;
    background-color: white;
}
h1 {
    margin-left: 2%;
    padding-top: 7%;
    color: white;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
color: white;
display: inline-block;
cursor: pointer;
font-weight: bold;
padding: 5px 20px;
}

input[type=radio]:checked + label {
color: #676569;
background: white;
}

label + input[type=radio] + label {
border-left: solid 3px white;
}

.radio-group {
border: solid 3px white;
display: inline-block;
margin: 20px;
border-radius: 10px;
overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');